*,
*::before,
*::after {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

p,
h1,
h3,
h2,
h4,
h5,
button,
span {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

img.user {
  border-radius: 50%;
}

div.card {
  border-radius: 10px;
  border: none;
  background-color: transparent;
}

div.icon-box2 {
  display: none;
}

span.nav {
  background-color: white !important;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

img.img1 {
  /* position: absolute; */
  max-width: 692px;
  max-height: 433px;
  left: 49.47px;
  top: 467px;
  border-radius: 10px;
}

img.img2 {
  position: absolute;
  left: 45%;
  top: 28%;
  bottom: 9.38%;
  width: 45px;
  height: 45px;
}

img.cover-play {
  position: absolute;
  left: 34%;
  top: 11%;
  width: 45px;
  height: 45px;
}

img.svg {
  width: 24px;
  height: 24px;
  margin: 4px;
}

img.svg1 {
  width: 48px;
  height: 48px;
  margin: 4px;
}

p.minsyl {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 170%;
  color: #989aa3;
  margin: 0;
  margin-right: 3%;
  margin-left: 5px;
}

span.minsyl {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 170%;
  color: #989aa3;
}

p.minsyl-2 {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 170%;
  color: #222222;
  margin: 0;
}

button.minsyl {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 170%;
  color: #989aa3;
  margin: 0;
  border: none;
  background: #f9f9f9;
  box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.6),
    4px 4px 5px rgba(216, 218, 225, 0.3);
  border-radius: 8px;
  height: 50px;
  width: 170px;
}

h5.card-title {
  font-weight: 500;
  font-style: normal;
  width: 158px;
  height: 25.81px;
  margin-top: 9px;
  margin-bottom: 2px;
  font-size: 16px;
}

p.card-text {
  color: rgba(34, 34, 34, 0.8);
  width: 158px;
  height: 25.81px;
  font-size: 12px;
}

div.v-box2 {
  display: none !important;
}

textarea.area {
  width: 100%;
  height: 132.05px;
  border-radius: 10px;
  border: none;
  resize: none;
  background: #ffffff;
  border: 1px dashed #e0e3eb;
  box-sizing: border-box;
}

textarea.are :focus {
  border: 1px dashed #e0e3eb;
  box-sizing: border-box;
}

div.container.box {
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
  min-height: 60vh;
}

h4.card-title {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
}

span.flw {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 170%;
}

h4.popings {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  margin-top: 20px;
}

h6.sub-popings {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  color: #989aa3;
  margin-bottom: 35px;
}

.col-10 {
  margin-left: 11px;
}

hr {
  height: 0px;
  border: 1px solid #e0e3eb;
}

::placeholder {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  padding-left: 26px;
  padding-top: 16px;
}

button.view {
  background-color: #f9f9f9;
  border: none;
  color: #3d67ff;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}

@media (max-width: 800px) {
  div.p-5 {
    padding: 30px !important;
  }

  img.img2 {
    position: absolute;
    left: 43%;
    top: 33%;
  }

  div.back {
    display: none !important;
  }

  img.cover {
    max-width: 492.23px;
    max-height: 308px;
  }
  img.cover-play {
    left: 42%;
    top: 8%;
  }
  img.img1 {
    max-width: 492.23px;
    max-height: 308px;
  }

  div.col-md-3 {
    margin-bottom: 20px;
  }
  span.flw {
    font-size: 13px;
  }
  h4.popings {
    font-size: 18px;
  }
  h6.sub-popings {
    font-size: 16px;
  }
}

@media (min-width: 800px) {
  img.m-2.logo {
    display: none;
  }
}

@media (max-width: 500px) {
  ul.nav.nav-tabs {
    display: none;
  }
  p.card-text {
    margin-bottom: 30px !important;
  }
  div.v-box1 {
    display: none !important;
  }
  div.v-box2 {
    display: block !important;
  }
  img.cover,
  img.img1 {
    max-width: 344px !important;
    max-height: 200px;
  }
  img.cover-play {
    left: 42%;
    top: 5% !important;
  }
  div.icon-box1 {
    display: none !important;
  }
  div.icon-box2 {
    display: block !important;
  }
  .offset-cmt {
    margin-left: 30% !important;
    margin-top: 15px !important;
  }
  h4.popings {
    font-size: 16px;
  }
  h6.sub-popings {
    font-size: 16px;
  }
  div.reply {
    margin-left: 30px !important;
  }
}
