*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0px;
  margin: 0%;
}

:root {
  --main-bg-color: #f9f9f9;
  --card-width: 242.5px;
  --card-height: 146px;
  --card-width-md: 234px;
  --card-height-md: 146px;
  --card-width-sm: 344px;
  --card-height-sm: 200px;
}

html body {
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

p,
h1,
h3,
h2,
h4,
h5,
button {
  font-family: "Poppins", sans-serif;
}

p.genre {
  font-size: 12px;
  height: 18px;
  color: #989aa3;
  margin: 0px;
  margin-right: 3px;
}

/* // grey  border
// margin-right */

span.bg-light {
  background-color: #eff1f4 !important;
  font-weight: 400;
  margin-right: 10px;
  padding: 5px 11px;
  border: 1px solid #e0e3eb;
}

span.nav {
  background-color: white !important;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

span.nav :hover {
  background-color: #eff1f4;
}

div.featured {
  background: #ffffff;
  border-radius: 10px;
}

img.user {
  border-radius: 50%;
}

button.dropdown-toggle {
  background-color: #f9f9f9;
  border-radius: 10px;
  width: 116px;
}

button.dropdown-toggle.show {
  background-color: #fff;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  width: 116px;
  border-color: #fff;
  /* padding-bottom: 8px; */
}

.btn-check:focus + .btn,
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0;
}

.dropdown-menu {
  min-width: 4rem;
  border-color: #fff;
  min-width: none;
  width: 116px;
  height: 178px;
  box-shadow: 0px 7px 7px rgba(181, 187, 200, 0.25);
  overflow-y: scroll;
}

p.minsyl {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 170%;
  color: #989aa3;
  margin: 0;
  margin-right: 3%;
  margin-left: 5px;
}

/* vertical scroll */

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  display: inline-block;
}

.span {
  display: inline-block;
  flex: 0 0 auto;
  margin-right: 3px;
}

.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

::-webkit-scrollbar {
  display: none;
}

div.col-lg-3 {
  padding: 0;
  display: flex;
  justify-content: center;
}

img.img1 {
  max-width: 692px;
  max-height: 433px;
  border-radius: 10px;
}

img.img2 {
  position: absolute;
  left: 98.3px;
  top: 51px;
  background: #ffffff;
  border-radius: 100px;

  width: 45px;
  height: 45px;
}

h3.popings {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  width: 336px;
  height: 71px;
  color: #222222;
}

h4.popings {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}

h6.sub-popings {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  color: #989aa3;
  margin-bottom: 35px;
}

h5.card-title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22.4px;
  color: #222222;
  line-height: 140%;
  margin-top: 5px;
}

p.card-text {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 140%;
}

div.card {
  border: none;
  background-color: transparent;
}

hr.view {
  display: none;
}

p.color {
  color: #989aa3;
  font-size: 14px;
  font-style: light;
}

div.container.box {
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
}

a.nav-link.active {
  border: none;
  background-color: #f9f9f9 !important;
  font-weight: bolder;
  color: black !important;
}

div.underline {
  background: #1a73e8;
  height: 2px;
  margin-top: 11px;
}

button.view {
  background-color: #f9f9f9;
  border: none;
  color: #3d67ff;
  font-size: 12px;
  line-height: 18px;
}

div.v-box2 {
  display: none !important;
}

.card-body {
  flex: 1 1 auto;
  padding: 0.5rem 0.5rem !important;
}

div.tab2 {
  display: none;
}
div.sort2 {
  display: none !important;
}

/* Two Cards */
@media (max-width: 800px) {
  img.img1 {
    max-width: 492.23px;
    max-height: 308px;
  }
  img.img2 {
    position: absolute;
    left: 43%;
    top: 33%;
  }
  div.card {
    margin-bottom: 30px;
  }
  div.my-5.mx-auto {
    margin-bottom: 0px !important;
  }
  h4.popings {
    font-size: 18px;
  }
  h6.sub-popings {
    font-size: 16px;
  }
  div.tab1 {
    display: none;
  }
  div.tab2 {
    display: block;
  }
  div.tab2 > ul > li > a {
    font-size: 12px;
  }
}

/* One Card */
@media (max-width: 558px) {
  img.img1 {
    height: var(--card-height-sm);
    width: var(--card-width-sm);
  }
  button.view {
    font-size: 14px;
  }
  p.card-text {
    margin-bottom: 30px !important;
  }
  div.v-box1 {
    display: none !important;
  }
  div.v-box2 {
    display: flex !important;
    justify-content: center !important;
  }
  h4.first {
    margin-top: 15px;
  }
  img.img1 {
    max-width: 344px !important;
    max-height: 200px;
  }
  h4.popings {
    font-size: 16px;
  }
  h6.sub-popings {
    font-size: 12px;
  }
  hr.view {
    display: block;
  }
  div.tab2 {
    display: none;
  }
  div.sort2 {
    display: flex !important;
  }
  /* div.sort {
    justify-content: end;
  } */
}
